@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

/* @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Major+Mono+Display&display=swap'); */

/* COLORES */

.disabled\:hover\:text-color-1:hover:disabled,
.hover\:text-color-1:hover,
.text-color-1 {
  color: #972e34;
}

.disabled\:hover\:text-color-2:hover:disabled,
.hover\:text-color-2:hover,
.text-color-2 {
  color: #f3be4f;
}

.hover\:bg-color-1:hover,
.bg-color-1 {
  background-color: #972e34;
}

.hover\:bg-color-3:hover,
.bg-color-3 {
  background-color: #702227;
}

.hover\:bg-color-2:hover,
.bg-color-2 {
  background-color: #f3be4f;
}

.disabled\:hover\:border-color-1:hover:disabled,
.border-color-1 {
  border-color: #972e34;
}

.disabled\:hover\:border-color-2:hover:disabled,
.border-color-2 {
  border-color: #f3be4f;
}

/* FIN COLORES */

/* BODY */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* font-family: 'Grandstander', cursive; */
  /* font-family: 'Major Mono Display', monospace; */
}

/* main {
  font-family: 'Dongle', sans-serif;
  font-family: 'Changa', sans-serif;
  font-family: 'Noto Sans Display', sans-serif;
} */

/* Finaliza estilos BODY */

/* NAVBAR */
@media only screen and (max-width: 639.999px) {
  .custom-position-logo {
    position: absolute;
    right: calc(50vw - 2rem);
  }
}

/* estilos Footer - Redes */

.div-redes a svg {
  padding: 0.75rem;
  color: #f3be4f;
  font-size: 3.5rem;
  transition: all 0.5s;
  transition-timing-function: ease;
}

@media only screen and (max-width: 639.999px) {
  .div-redes a svg {
    font-size: 3rem;
  }
}

.div-redes a svg:hover {
  color: #c94955;
  transform: scale(1.25);
}

/* Finaliza estilos Footer - Redes */